@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: #0D1117;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0;
  /* kills default body margin */
}

p {
  color: white;
  opacity: 50%;
  font-size: 17px;
}

h1 {
  color: white;
  font-size: x-large;
  line-height: normal;
  margin: 0;
}

h2 {
  color: white;
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgray;
  transition-duration: 0.5s;
}

header {
  background-color: #161b22;
  padding: 15px 25px;
}

footer {
  /* background-color: #161b22; */
  position: relative;
  /* has to be relative rather than fixed so that it scrolls correctly */
  bottom: 0;
  max-width: 1248px;
  /* ? how to set this width relative to the container without hard coding 1280px like above */
  padding-bottom: 48px;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.101);
  display: flex;
  justify-content: center;
  /* display and justify-content properties centers horizontally */
}

.container {
  margin: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 0px 32px;
}

.card {
  background-color: #161B22;
  padding: 40px;
  border-radius: 4px;
  margin: 10px 0px;
  text-align: center;
  /* box-shadow: 0px 2px 10px rgba(129, 129, 129, 0.24); */
}

.card-info {
  background-color: #161B22;
  border-radius: 4px;
  margin: 10px 0px;
}

.card-instagram {
  background-color: #161B22;
  border-radius: 4px;
  margin: 10px 0px;
}
/* .btn-navy {
  color: rgba(245, 245, 245, 0.459);
  background-color: rgba(23, 0, 139, 0.534);;
  padding: 10px 15px;
  border-radius: 4px;
} */

#user-profile-path {
  color: #58a6ff;
  pointer-events: none;
}

#transparent-github {
  color: #58a6ff;
  opacity: 70%;
}

#transparent-path {
  color: #58a6ff;
  opacity: 70%;
}

#upwork-icon {
  background-color: white;
  width: 19px;
  height: auto;
  border-radius: 50%;
}

#clock {
  /* color: transparent;
  font-size: 74px;
  font-weight: bolder;
  background-image: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover; */
  color: white;
  opacity: 50%;
}

.fav-insta {
  padding-left: 85px;
  padding-top: 27px;
}

.col-4 {
  width: 200px;
  padding: 0px;
}

.image-wrap {
  width: 200px;
}

.image-wrap>img {
  border-radius: 4px;
  width: 200px;
  height: 253.5px;
  padding: 3px 3px;
  object-fit: cover;
    /* The image keeps its aspect ratio and fills the given dimension */
}

.image-wrap:last-child {
  position: relative;
  overflow: hidden;
  height: 180px;
  /* overflow pairs with height/width */
}

.image-wrap:last-child::before {
  position: absolute;
  content: "";
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70%;
  background-image: linear-gradient(to bottom, rgba(239,239,239,0), 50%, #161B22);
  /* default % for linear gradient is 50% */
  /* if its 50%, no need to use 50% */
}

/* .image-wrap:last-child::after {
  content: '';
  display: block;
  height: 9999px;
}
no need for this? */

/* #public-label {
  pointer-events: none;
} */

.path {
  margin: 0px;
  padding: 0px
}

.path>li {
  display: inline-block;
  /* make list items displayed in single line */
}

.list-inline {
  list-style: none;
  margin: 0;
  height: 25.617px;
}

.list-inline>li {
  display: inline-block;
  /* make icons align side by side */
  padding: 0px 20px;
}

.profile-pic {
  border-radius: 50%;
  border: #0D1117 1px solid;
  width: 166px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* opacity: 90%; */
  filter: saturate(80%);
  /* margin and display property align pic to center */
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: auto;
    margin: 0;
  }
}
